@model Book_Store_Memoir.Models.Models.Checkout
<div class="row">
    <div class="col-md-6 mb-5 mb-md-0">
        <h2 class="h3 mb-3 text-black">Thông tin đặt hàng</h2>
        <form asp-action="CreateOrder" method="post">
            <div class="p-3 p-lg-5 border">

                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="c_fname" class="text-black">Tên khách hàng <span class="text-danger">*</span></label>
                        <input type="text" asp-for="Cusname" class="form-control" id="c_fname" name="Cusname" value="@Model.Cusname">
                        <span asp-validation-for="Cusname" class="text-danger"></span>
                    </div>

                </div>


                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="c_address" class="text-black">Địa chỉ nhận hàng<span class="text-danger">*</span></label>
                        <input type="text" asp-for="Address" class="form-control" id="c_address" name="Address" value="@Model.Address">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>





                <div class="form-group row mb-5">
                    <div class="col-md-6">
                        <label for="c_email_address" class="text-black">Email <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="c_email_address" asp-for="Email" name="c_email_address" value="@Model.Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="c_phone" class="text-black">Số điện thoại <span class="text-danger">*</span></label>
                        <input type="text" name="Phone" class="form-control" id="c_phone" name="c_phone" placeholder="Phone Number" value="@Model.Phone">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="c_order_notes" class="text-black">Ghi chú</label>
                    <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Ghi chú cho cửa hàng ..."></textarea>
                </div>
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3">Đặt hàng</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">



        <div class="row mb-5">
            <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Đơn hàng của bạn</h2>
                <div class="p-3 p-lg-5 border">
                    <table class="table site-block-order-table mb-5">
                        <thead>
                        <th>Sản phẩm</th>
                        <th>Tổng tiền</th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CartItems)
                            {
                                <tr>
                                    <td>@item.Book.Title <strong class="mx-2">x</strong> @item.Quantity</td>
                                    <td>@((item.Book.Price * item.Quantity).Value.ToString("#,##0")) VND</td>
                                </tr>
                            }

                            <tr>
                                <td class="text-black font-weight-bold"><strong>Tổng tiền</strong></td>
                                <td class="text-black font-weight-bold"><strong>@Model.CartItems.First().OrderTotal.ToString("#,##0") VND</strong></td>
                            </tr>
                        </tbody>
                    </table>

      @*              <div class="border p-3 mb-3">
                        <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Thanh toán khi nhận hàng</a></h3>

                        <div class="collapse" id="collapsebank">
                            <div class="py-2">
                                <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                            </div>
                        </div>
                    </div>

                    <div class="border p-3 mb-3">
                        <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque" role="button" aria-expanded="false" aria-controls="collapsecheque">Ngân hàng</a></h3>

                        <div class="collapse" id="collapsecheque">
                            <div class="py-2">
                                <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                            </div>
                        </div>
                    </div>

                    <div class="border p-3 mb-5">
                        <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal" role="button" aria-expanded="false" aria-controls="collapsepaypal">Ví điện tử</a></h3>

                        <div class="collapse" id="collapsepaypal">
                            <div class="py-2">
                                <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                            </div>
                        </div>
                    </div>
*@
                   @* <div class="form-group">
                        <a asp-controller="Shop" asp-action="CreateOrder" class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location=''">Place Order</a>
                    </div>*@

                </div>
            </div>
        </div>

    </div>
</div>
<!-- </form> -->
