@model IEnumerable<Book_Store_Memoir.Models.Book>

<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="Search" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">Thể loại</h1>
            <form method="get" id="myForm" asp-action="FilterBook">
                <select class="form-control" id="catID" name="categoryId" asp-items="ViewBag.DSTL">
                    <option value="" disable selected>Chọn thể loại</option>
                </select>
                <select class="form-control" id="catID" name="publisherId" asp-items="ViewBag.DSNXB">
                    <option value="" disable selected>Chọn nhà xuất bản</option>
                </select>
                <select class="form-control" id="catID" name="languageId" asp-items="ViewBag.DSNN">
                    <option value="" disable selected>Chọn ngôn ngữ</option>
                </select>
                <br />
                <button type="submit" class="btn btn-success">Lọc</button>
            </form>
            @*  <form action="@Url.Action("FilterProduct", "Shop")" method="get" id="myForm" name="filter">
            <div class="form-group">
            <select class="form-control" id="catID" name="filter" asp-items="ViewBag.DSTL" onchange="submitForm()">
            <option value="" disabled selected>Chọn thể loại</option>
            </select>
            </div>
            </form>*@
            @*
            <h1 class="h2 pb-4">Nhà xuất bản</h1>
            <form method="get" id="myForm">
            <div class="form-group">
            <select class="form-control" id="catID" name="catID" asp-items="ViewBag.DSTL" onchange="submitForm()">
            <option value="" disable selected>Nhà xuất bản</option>
            </select>
            </div>
            </form>*@

        </div>

        <div class="col-lg-9">
            <div class="row">
                @*<h2>Tìm thấy 2 sản phẩm</h2>*@
            </div>


            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="~/image/sanpham/@item.Image">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">

                                        <li><a class="btn btn-success text-white mt-2" asp-action="Details" asp-route-id="@item.Id"><i class="far fa-eye"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none">@item.Title</a>


                                <p class="text-center mb-0">@item.Price.Value.ToString("#,##0") VNĐ</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
          @*  <div class="row">
                <ul class="pagination pagination-lg justify-content-end">
                    @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
                    {
                        <li class="page-item @(i == (int)ViewData["CurrentPage"] ? "disabled" : "")">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                               href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }
                </ul>
            </div>*@
        </div>

    </div>
</div>
<style>
    .card-body a {
        display: block;
        height: 3em; /* Đặt kích thước cố định cho Title */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-body a {
        display: block;
        height: 3em; /* Đặt kích thước cố định cho Title */
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>
<script src="assets/js/jquery-1.11.0.min.js"></script>
<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/templatemo.js"></script>
<script src="assets/js/custom.js"></script>
<!-- End Script -->



<script type="text/javascript">

    function submitForm() {
        document.getElementById("myForm").submit();
    }
</script>
